* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #303030;
}

.box {
  display: flex;
  align-items: center;
}

.box-input {
  padding: 15px 30px;
  outline: none;
  border: none;
}
.box-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 21.5px;
}

.box-main {
  display: 	flex;
  flex-direction: column;
  margin-top: 10px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-title {
  font-size: 3rem;
  color: #fff;
}

